<%-include("model",{profile:profile})%>

<div class="nav">
    <div class="nav-title"> 
        <h2>
        <%=profilename%>
    </h2>
    </div>
    <div class="right_side">
        <form action="/logout" method="post">
        <button type="submit" class="btn-danger btn">Logout</button>
    </form>
    </div>
</div>

<div class="sidebar" style="z-index: 1;">
   
    <header>
        <img src="<%=profile%>" alt="<%=profile%>" id="profile" data-toggle="modal"  data-target="#exampleModal">
        <button type="button" class="btn" data-toggle="modal"  data-target="#exampleModal">
            Change profile 
          </button>
        
        <div style="font-family: Georgia, 'Times New Roman', Times, serif;">
            <h2><%=profilename%></h2>
        </div>
    
    </header>
    <div class="sidebar-link">
        <a href="/home"><i class="fa fa-laptop"></i><span>HOME</span></a>
        <a href="/image"><i class="fa fa-upload"></i><span>UPLOAD</span></a>
        <a href="/new"><i class="fa fa-inbox"></i><span>inbox</span></a>
    </div>
</div>
